In [ ]:
#1. Calculating relative frequency of topics 1.0
# Author: Yuchen Zhou
# The script contains the codes that calculate relative frequency of topics that are outputted from BERTopic model
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# **1. Calculate relative frequency of topics**

Relative frequency (in %) is calculated by $ \frac {Number\;of \;Sentences\;Contain\;a\; Topic}{Total\;Number\;of\;Sentences}*100$

In [ ]:
topics = pd.read_csv("Downloads/BERT_topic_count_all_topics_five_years.csv")

In [ ]:
topics

,2018_Q1,2018_Q2,2018_Q3,2018_Q4,2019_Q1,2019_Q2,2020_Q3,2020_Q4,2021_Q1,2021_Q2,2021_Q3,2021_Q4,2022_Q1,2022_Q2,2019_Q3,2019_Q4,2020_Q1,2020_Q2,2022_Q3,2022_Q4
0,672,696,660,868,640,780,328,599,414,634,850,1177,798,788,731,932,783,771,864,1030
1,22,8,5,3,3,5,924,1125,798,755,893,955,628,550,5,272,2443,2333,447,384
2,638,633,658,625,576,555,182,228,246,252,414,558,613,846,576,483,339,396,958,1013
3,398,407,401,441,414,411,298,354,281,321,446,437,475,638,495,446,700,656,600,654
4,417,378,385,437,404,405,210,288,270,319,423,582,580,654,417,439,501,462,622,624
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0
5963,0,0,0,0,0,0,1,0,0,1,1,0,1,0,0,0,0,1,0,0
5964,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
5965,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
5966,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0

In [ ]:
for column in topics:

  topics[column]=topics[column]/(np.sum(topics[column]))*100

In [ ]:
topics

,2018_Q1,2018_Q2,2018_Q3,2018_Q4,2019_Q1,2019_Q2,2020_Q3,2020_Q4,2021_Q1,2021_Q2,2021_Q3,2021_Q4,2022_Q1,2022_Q2,2019_Q3,2019_Q4,2020_Q1,2020_Q2,2022_Q3,2022_Q4
0,2.606874,2.732412,2.577924,3.088309,2.562665,2.898228,2.007098,2.562019,2.002418,2.646408,2.756161,3.281934,2.366899,2.333294,2.706906,3.241739,2.445652,2.345461,2.518804,2.864851
1,0.085344,0.031407,0.019530,0.010674,0.012012,0.018578,5.654143,4.811805,3.859734,3.151480,2.895590,2.662912,1.862672,1.628568,0.018515,0.946087,7.630560,7.097226,1.303131,1.068061
2,2.474979,2.485082,2.570112,2.223724,2.306399,2.062200,1.113695,0.975192,1.189843,1.051885,1.342412,1.555921,1.818182,2.505034,2.132938,1.680000,1.058846,1.204673,2.792840,2.817567
3,1.543952,1.597833,1.566284,1.569060,1.657724,1.527143,1.823522,1.514115,1.359129,1.339901,1.446174,1.218526,1.408868,1.889139,1.832994,1.551304,2.186407,1.995619,1.749169,1.819042
4,1.617658,1.483982,1.503789,1.554828,1.617682,1.504849,1.285032,1.231822,1.305925,1.331552,1.371595,1.622842,1.720303,1.936515,1.544158,1.526957,1.564843,1.405451,1.813305,1.735599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.005922,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5963,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006119,0.000000,0.000000,0.004174,0.003243,0.000000,0.002966,0.000000,0.000000,0.000000,0.000000,0.003042,0.000000,0.000000
5964,0.003879,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003478,0.000000,0.000000,0.000000,0.000000
5965,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003123,0.000000,0.000000,0.000000
5966,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003243,0.000000,0.000000,0.000000,0.000000,0.003478,0.000000,0.000000,0.000000,0.000000

Order the columns from 2018 Q1 to 2022 Q4

In [ ]:
change_column = ['2018_Q1',"2018_Q2","2018_Q3","2018_Q4","2019_Q1","2019_Q2","2019_Q3","2019_Q4","2020_Q1","2020_Q2","2020_Q3","2020_Q4","2021_Q1","2021_Q2","2021_Q3","2021_Q4","2022_Q1","2022_Q2","2022_Q3","2022_Q4"]
topics = topics.reindex(columns=change_column)

In [ ]:
topics

,2018_Q1,2018_Q2,2018_Q3,2018_Q4,2019_Q1,2019_Q2,2019_Q3,2019_Q4,2020_Q1,2020_Q2,2020_Q3,2020_Q4,2021_Q1,2021_Q2,2021_Q3,2021_Q4,2022_Q1,2022_Q2,2022_Q3,2022_Q4
0,2.606874,2.732412,2.577924,3.088309,2.562665,2.898228,2.706906,3.241739,2.445652,2.345461,2.007098,2.562019,2.002418,2.646408,2.756161,3.281934,2.366899,2.333294,2.518804,2.864851
1,0.085344,0.031407,0.019530,0.010674,0.012012,0.018578,0.018515,0.946087,7.630560,7.097226,5.654143,4.811805,3.859734,3.151480,2.895590,2.662912,1.862672,1.628568,1.303131,1.068061
2,2.474979,2.485082,2.570112,2.223724,2.306399,2.062200,2.132938,1.680000,1.058846,1.204673,1.113695,0.975192,1.189843,1.051885,1.342412,1.555921,1.818182,2.505034,2.792840,2.817567
3,1.543952,1.597833,1.566284,1.569060,1.657724,1.527143,1.832994,1.551304,2.186407,1.995619,1.823522,1.514115,1.359129,1.339901,1.446174,1.218526,1.408868,1.889139,1.749169,1.819042
4,1.617658,1.483982,1.503789,1.554828,1.617682,1.504849,1.544158,1.526957,1.564843,1.405451,1.285032,1.231822,1.305925,1.331552,1.371595,1.622842,1.720303,1.936515,1.813305,1.735599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.005922,0.000000,0.000000
5963,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003042,0.006119,0.000000,0.000000,0.004174,0.003243,0.000000,0.002966,0.000000,0.000000,0.000000
5964,0.003879,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003478,0.000000,0.000000,0.000000,0.004277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5965,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003123,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5966,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003478,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003243,0.000000,0.000000,0.000000,0.000000,0.000000

Save the new csv file that contains relative frequency of topics overtime

In [ ]:
topics.to_csv("Downloads/percentages of topics five years finance.csv")